html{
    background-color: #81B29A;
}

body{
    background-color: #81B29A;
}

.content-wrappper{
    background-color: #81B29A;
}

#search-bar-wrapper{
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 3px 3px 33px -8px rgb(54, 54, 54);
}

#gif-content{
    margin-top: 10px;
}

#search-box{
    width: 88%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gif{
    float: left;
    width: 200px;
    height: 200px;
    margin: 5px;
    box-shadow: 3px 3px 33px -8px rgb(54, 54, 54);
}

#search{
    margin-left: 5px;
}
#more{
    margin-left: 5px;
}

#button-wrapper{
    padding: 0px;
}

.button{
    height: 25px;
    width: 100px;
    float: left;
    margin-left: 5px;
    border-radius: 15px;
    background-color: #E07A5F;
    text-align: center;
    line-height: 23px;
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
}



#button-wrapper{
    min-height: 50px;
}